# Neon PostgreSQL Connection URLs
# Formato: postgresql://[user]:[password]@[endpoint].neon.tech/[dbname]?sslmode=require
DATABASE_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-fog-123456-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-fog-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth / Google OAuth (Opcional en desarrollo gracias al modo Invocador rápido)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cumple-lol-secret-key-super-segura-2026"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
